.app-landingpage {
  &__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > section {
      padding-top: 70px;
    }
  }
}

.app-video {
  &__container {
    align-self: flex-start;
    position: relative;
    &-video {
      width: 100vw;
      height: calc(100vh - 70px);
      background: black;
    }
    &-controls {
      display: flex;
      align-items: flex-end;
      opacity: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#0000 90%, black);
      position: absolute;
      bottom: 0;
      left: 0;
      &:hover {
        opacity: 1;
      }
      &-toolbar {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        & > * {
          transform: scale(2);
        }
      }
    }
  }
}

.app-admin__container {
  min-height: calc(100vh);
  width: 100vw;
  padding: 20px;
  &-subtitle {
    text-align: center;
    margin: 10px 0;
    text-shadow: 0 0 5px #0003;
  }
  &-content {
    display: flex;
    justify-content: center;
    &-form {
      width: 400px;
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;
      // align-items: center;
      padding: 20px;
    }
    &-card {
      width: 600px;
      max-height: 700px;
      overflow-y: auto;
    }
  }
}

.app-createform__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-field {
    & input.p-inputtext {
      width: 318px;
    }
    margin-bottom: 20px;
  }
  &-button {
    align-self: flex-end;
  }
}

.app-download__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-location__container {
  height: calc(100vh - 0px);
  padding-top: 80px!important;
  &-letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    &-description {
      width: 80%;
      line-height: 2ch;
    }
  }
  &-content{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    & h2 {
      text-align: center;
    }
    &-map {
      width: 100%;
      height: 100%;
      position: relative;
      text-align: left;
      width: 100%;
      height: 400px;
      &-canvas {
        overflow: hidden;
        background: none !important;
        padding: 0 10px;
        &-iframe {
          width: 100%;
          height: 550px;
          border: none;
        }
      }
    }
  }
}



.app-confirmx {
  &__container {
    height: calc(100vh - 0px);
    padding-top: 80px!important;
    display: flex;
    align-items: center;
    &-content {
        width: 700px;
        &-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & > * {
                margin-bottom: 10px;
            }
            &-rounded {
                width: 50px;
                height: 50px;
                border: 1px solid green;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-status {
                font-weight: 200;
                width: 70%;
                border: 1px solid green;
                padding: 10px;
                margin: 20px 0;
                border-radius: 30px;
                &-bold{
                    color: green;
                }
            }
            &-buttons{
                width: 40%;
                display: flex;
                justify-content: space-evenly;
            }
            &-text{
                width: 90%;
                text-align: justify;
            }
            &-footer {
                color: rgb(139, 79, 0);
                width: 80%;
                font-weight: 150;
                text-align: justify;
                &-bold{
                    font-weight: 250;
                }
            }
        }
    }
  }
}
